@import '~normalize.css';
@import './fonts.scss';

body {
   font-family: 'Roboto', sans-serif;
}

.code {
   width: 100%;
   max-width: 1000px;
   overflow: auto;
   padding: 20px;
   background-color: #eee;
   text-align: left;
   line-height: 24px;
}

.container {
	padding-top: 2rem;
	max-width: 1000px;
	margin: 0 auto;
   text-align: center;
}

.logo {
   background-image: url('../assets/cat.jpg');
   background-size: cover;
   height: 200px;
   width: 200px;
   margin: 0 auto;
}
